@import "partials/default";
@import "partials/variables";
@import "partials/colors";
@import "partials/mixins";

// Navbar 
.navbar {
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    border-bottom: 1px solid rgb(234, 234, 234);

    .open-menu {
        display: none;
    }

    .navbar-brand {
        padding: 0.8rem 0;

        a {
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-secondary;
        }
    }

    .navbar-navs-parent {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar-navs {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
        display: block;
        color: $text-color-secondary;
        line-height: 1.5;
        position: relative;

        font: {
            size: $font-normal;
            weight: 600;
        }

        &.active {
            color: $text-color-primary;
        }

        &.active::after {
            content: '';
            width: 35%;
            height: 1px;
            background-color: $color-secondary;
            position: absolute;
            bottom: -5px;
            left: 1.5rem;
        }

        &.hover {
            color: $text-color-primary;
        }

        &.btn {
            color: $text-white;
        }
    }


}


.navbar-navs-parent-mobile {
    display: none;
}


// Not found 404 
.not-found {
    @include content-center(column);

    h2 {
        color: $text-color-primary;
        font-size: $font-xlarge;
        font-weight: 700;
        margin-bottom: 0.8rem;
    }

    p {
        color: $text-color-p;
        font-size: $font-small;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}

// Loading component 
.loading-wrap {
    @include content-center;
    @import "partials/loading";
}


// Responsive codes 
@import "partials/responsive";