@import "partials/default";
@import "partials/variables";
@import "partials/colors";
@import "partials/mixins";

// Navbar 
.navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
    @include border-dir(bottom, $border-color-2);

    .open-menu {
        display: none;
    }

    .navbar-brand {
        padding: 0.8rem 0;

        a {
            @include font-sizing($font-xxlarge, $color-secondary, 700);
        }
    }

    .navbar-navs-parent {
        width: 100%;
        @include flex();
    }
}

.navbar-navs {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;

    a:not(.login-btn) {
        display: block;
        @include font-sizing($font-normal, $text-color-secondary, 600);
        position: relative;

        &.active {
            color: $text-color-primary;
        }

        &.active::after {
            content: '';
            width: 35%;
            height: 1px;
            background-color: $color-secondary;
            position: absolute;
            bottom: -5px;
            left: 1.5rem;
        }

        &.hover {
            color: $text-color-primary;
        }
    }

    .login-btn {
        @extend .btn;
    }
}


.navbar-navs-parent-mobile {
    display: none;
}


// Not found 404 
.not-found {
    @include content-center(column);

    h2 {
        @include font-sizing($font-xxlarge, $text-color-primary, 700);
        margin-bottom: 0.8rem;
    }

    p {
        @include font-sizing($font-small, $text-color-p);
        margin-bottom: 1rem;
    }
}

// Footer 
footer {
    width: 100%;
    padding: 1rem 3rem;
    @include border-dir(top, $border-color-2);

    .footer-navs-wrap {
        @include flex($justify: flex-start);
        gap: 2rem;
        padding-bottom: 0.5rem;

        .footer-brand {
            a {
                @include font-sizing($font-large, $color-secondary, 700);
            }
        }

        .footer-navs {
            @include flex($justify: flex-start);
            gap: 1rem;
            list-style-type: none;

            a {
                @include font-sizing($font-normal, $text-color-secondary);
            }
        }
    }

    .copyright {
        @include border-dir(top, $border-color-2);
        padding: 0.5rem 0;

        p {
            @include font-sizing($font-small, $text-color-p);
            text-transform: capitalize;
        }
    }
}


// Main content area 
main {
    width: 75%;
    min-height: 100vh;
    margin: 3rem auto;
}

#home {

    // Search job
    .search-jobs-wrap {
        padding: 2.5rem 0 1rem;
        position: relative;

        .search-jobs {
            @include flex(1rem);
            width: 100%;
            padding: 1rem 0.5rem;
            @include border($color-primary, 2px);
            border-radius: 0.3rem;

            .search-wrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                @include border-dir(right, $border-color-2);

                label {
                    @include font-sizing($font-large, $text-color-secondary, 700);
                    position: absolute;
                    top: 0;
                }

                .search-field {
                    border: 0;
                    outline: 0;
                    padding: 1rem 0.8rem;
                    font-size: $font-small;
                }
            }

            .faLocationCrosshairs {
                color: $text-color-p;
            }

            .search-btn {
                @include font-sizing($font-normal, $text-white);
                width: auto;
                padding: 1rem 3rem;
                background-color: $color-primary;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }

    // published jobs 
    .published-jobs {
        @include font-sizing($font-normal, $text-color-secondary, 500);
    }

    // Cards section 
    .cards-wrap {
        @include flex(2rem);
        margin: 4rem 0;

        .card {
            @include flex;
            @include border;
            border-radius: .3rem;
            width: 50%;
            padding: 2rem;
            cursor: pointer;
            transition: all 0.3s;

            div {
                h2 {
                    @include font-sizing($font-large, $text-color-primary, 700);
                    margin-bottom: 0.625rem;
                }

                p {
                    @include font-sizing($font-normal, $text-color-p);
                }
            }

            img {
                width: 5.5rem;
                object-fit: cover;
            }

            &:hover {
                @include border($bg-color-light);
                background-color: $bg-color-light;
            }
        }
    }
}


// jobs page
.jobs-container {
    @include flex(3rem, $align: flex-start);

    .jobs-filter {
        width: 30%;
        @include flex(1.5rem, column, $align: stretch);
        background-color: transparent;


        .close-div {
            display: none;
        }

        .search-jobs {
            @include flex(1rem, column);
            width: 100%;
            position: relative;

            .search-wrap {
                width: 100%;
                display: flex;
                flex-direction: column;

                label {
                    @include font-sizing($font-medium, $text-color-secondary, 700);
                    margin-bottom: 0.3rem;
                }

                .search-field {
                    border: 0;
                    outline: 0;
                    font-size: $font-small;
                    padding: 1rem 0.8rem;
                    border-radius: 5px;
                    @include border($color-primary);
                }
            }

            .faLocationCrosshairs {
                color: $text-color-p;
                position: absolute;
                right: 0.3rem;
                bottom: 7.5rem;
            }

            .search-btn {
                @include font-sizing($font-normal, $text-white);
                width: 100%;
                padding: 0.7rem 3rem;
                background-color: $color-primary;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        h3 {
            @include font-sizing($font-normal, $text-color-secondary, 600);
            margin-bottom: 0.5rem;
        }

        .sort-by {
            select {
                @include font-sizing($font-small, $text-color-secondary);
                padding: 0.3rem 0;
            }
        }

        button {
            display: block;
            background-color: transparent;
            @include font-sizing($font-small, $text-color-secondary);
            transition: color 0.3s;

            &:hover {
                color: $color-primary;
            }
        }

    }

    .jobs-found-container {
        width: 70%;

        .header-title {
            @include flex;
            @include font-sizing($font-medium, $text-color-secondary, 700);
            margin-bottom: 1rem;

            .filter-search {
                display: none;
                @include border($color-primary);
                padding: 4px 6px;
                border-radius: 5px;
                @include font-sizing($font-small, $text-color-secondary, 600);
            }
        }

        .header-action {
            @include flex;

            div {
                display: flex;
                gap: 0.5rem;

                .all {
                    @extend .btn;
                    font-weight: 400;
                }

                .new {
                    @extend .btn-outline;
                }
            }

            .creater-alert {
                display: flex;
                align-items: center;
                background-color: transparent;
                @include font-sizing($font-small, $text-color-secondary, 700);

                .icon {
                    color: $color-primary;
                    margin-right: 0.625rem;
                }
            }
        }

        .job-cards {
            @include flex(1rem, column);
            margin-top: 1.5rem;

            .job-card {
                width: 100%;
                @include border-dir(top);
                padding: 1.2rem 0.5rem;
                transition: all 0.3s;

                &:hover {
                    background-color: $bg-color-light;
                    @include border-dir(top, $color-primary);
                }

                .title {
                    @include flex;

                    a {
                        overflow-x: hidden;
                        white-space: nowrap;
                        @include font-sizing($font-medium, $color-primary, 700);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .location {
                    @include font-sizing($font-normal, $text-color-secondary, 600);
                }

                .description {
                    @include font-sizing($font-small, $text-color-secondary, 400);
                    margin: 0.5rem 0;
                }

                .posting-time {
                    @extend .btn-tag;
                }
            }
        }
    }
}


// Job details 
.job-details-container {
    display: flex;
    flex-direction: column;

    .details-header {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        @include border-dir(bottom, $border-color-2);

        h1 {
            @include font-sizing($font-xlarge, $text-color-secondary, 600);
            margin-bottom: 0.5rem;
        }

        .job-meta {
            .meta-top {
                @include flex(1rem, row, flex-start);
                @include font-sizing($font-normal, $text-color-secondary, 500);

                .icon {
                    @include font-sizing($font-medium, $color-secondary);
                    padding-right: 0.5rem;
                }
            }

            .meta-bottom {
                margin-top: 1.5rem;

                p {
                    @extend .btn-tag;
                }
            }
        }
    }

    .details-body {
        @include flex(2rem, column, flex-start, stretch);

        h2 {
            @include font-sizing($font-normal, $text-color-secondary, 700);
            margin-bottom: 0.3rem;
        }

        p {
            text-align: justify;
        }

        ul {
            padding-left: 1rem;
        }

        p,
        li {
            @include font-sizing($font-normal, $text-color-secondary);
        }
    }

    .job-action {
        @include flex(3rem, column);
        width: 50%;
        margin: 4rem auto;

        .appy-now {
            @extend .btn;
            padding: 1rem 6rem;
        }

        .save-share {
            @include flex(2rem);
            width: 100%;

            button {
                @extend .btn-outline;
                padding: 0.625rem 0;
                width: 100%;
            }
        }
    }
}



// Loading component 
.loading-wrap {
    @include content-center;
    @import "partials/loading";
}


// Responsive codes 
@import "partials/responsive";