@import "partials/default";
@import "partials/variables";
@import "partials/colors";
@import "partials/mixins";

// Navbar 
.navbar {
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    border-bottom: 1px solid $border-color-2;

    .open-menu {
        display: none;
    }

    .navbar-brand {
        padding: 0.8rem 0;

        a {
            font-size: $font-xxlarge;
            font-weight: 700;
            color: $color-secondary;
        }
    }

    .navbar-navs-parent {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar-navs {
    display: flex;
    align-items: center;
    gap: 2rem;

    a:not(.login-btn) {
        display: block;
        color: $text-color-secondary;
        line-height: 1.5;
        position: relative;

        font: {
            size: $font-normal;
            weight: 600;
        }

        &.active {
            color: $text-color-primary;
        }

        &.active::after {
            content: '';
            width: 35%;
            height: 1px;
            background-color: $color-secondary;
            position: absolute;
            bottom: -5px;
            left: 1.5rem;
        }

        &.hover {
            color: $text-color-primary;
        }
    }

    .login-btn {
        @extend .btn;
    }
}


.navbar-navs-parent-mobile {
    display: none;
}


// Not found 404 
.not-found {
    @include content-center(column);

    h2 {
        color: $text-color-primary;
        font-size: $font-xlarge;
        font-weight: 700;
        margin-bottom: 0.8rem;
    }

    p {
        color: $text-color-p;
        font-size: $font-small;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}

// Footer 
footer {
    width: 100%;
    padding: 1rem 3rem;
    border-top: 1px solid $border-color-2;

    .footer-navs-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding-bottom: 0.5rem;

        .footer-brand {
            a {
                font-size: $font-large;
                font-weight: 700;
                color: $color-secondary;
            }
        }

        .footer-navs {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                font-size: $font-normal;
                font-weight: 400;
                color: $text-color-secondary;
            }
        }
    }

    .copyright {
        border-top: 1px solid $border-color-2;
        padding: 0.5rem 0;

        p {
            font-size: $font-small;
            font-weight: 400;
            color: $text-color-p;
            text-transform: capitalize;
        }
    }
}


// Main content area 
main {
    width: 70%;
    min-height: 80vh;
    margin: 3rem auto;
}

#home {

    // Search job
    .search-jobs-wrap {
        padding: 2.5rem 0 1rem;
        position: relative;

        .search-jobs {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 1rem 0.5rem;
            border: 2px solid $color-primary;
            border-radius: 0.3rem;

            .search-wrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                border-right: 1px solid $border-color-2;

                label {
                    @include font-sizing($font-large, 700, $text-color-secondary);
                    position: absolute;
                    top: 0;
                }

                .search-field {
                    border: 0;
                    outline: 0;
                    padding: 1rem 0.8rem;
                    font-size: $font-small;
                }
            }

            .faLocationCrosshairs {
                color: $text-color-p;
            }

            .search-btn {
                @include font-sizing($font-normal, 400, $text-white);
                width: auto;
                border: 0;
                outline: 0;
                padding: 1rem 3rem;
                background-color: $color-primary;
                border-radius: 0.5rem;
            }
        }
    }

    // published jobs 
    .published-jobs {
        @include font-sizing($font-normal, 500, $text-color-secondary);
    }

    // Cards section 
    .cards-wrap {
        @include flex(2rem);
        margin: 4rem 0;

        .card {
            @include flex;
            @include border;
            border-radius: .3rem;
            width: 50%;
            padding: 2rem;
            cursor: pointer;
            transition: all 0.3s;

            div {
                h2 {
                    @include font-sizing($font-large, 700, $text-color-primary);
                    margin-bottom: 0.625rem;
                }

                p {
                    @include font-sizing($font-normal, 400, $text-color-p);
                }
            }

            img {
                width: 5.5rem;
                object-fit: cover;
            }

            &:hover {
                @include border($bg-color-light);
                background-color: $bg-color-light;
            }
        }
    }
}




// Loading component 
.loading-wrap {
    @include content-center;
    @import "partials/loading";
}


// Responsive codes 
@import "partials/responsive";