$color-primary: #428ee6;
$color-secondary: #2d74c8;
$color-danger: #ea4a4a;
$color-danger-hover: #d63d3d;
$color-green: rgb(19, 180, 19);

$text-color-primary: #000000;
$text-color-secondary: #4b4956;
$text-color-p: #74737e;
$text-color-placeholder: #a4a4a9;
$text-white: #ffffff;

$border-color-1: #c8cad2;
$border-color-2: #e1e3eb;

$placeholder-color: #b6b3b3;

$bg-color-1: #e9e9e9;
$bg-color-light: #f4f4f4;