@import "variables";
@import "colors";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: {
        family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        size: 1rem;
    }
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: $placeholder-color;
}

button {
    cursor: pointer;

    &:disabled {
        @include border($border-color-1);
        background-color: $bg-color-light;
        color: $text-color-placeholder;
        cursor: default;
    }

    &:disabled:hover {
        box-shadow: none;
    }
}


.btn-base,
select {
    outline: 0;
    border: 0;
    background-color: transparent;
}

.text-xl {
    font-size: $font-xlarge;
}

.text-lg {
    font-size: $font-large;
}

.text-normal {
    font-size: $font-normal;
}

.text-sm {
    font-size: $font-small;
}

.text-xs {
    font-size: $font-xsmall;
}

.none {
    display: none;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.text-primary {
    color: $color-primary;
}

.bg-danger {
    background-color: $color-danger !important;

    &:hover {
        background-color: $color-danger-hover !important;
    }
}

.icon {
    @include font-sizing($font-medium, $color-secondary);
    padding-right: 0.5rem;
}

.flex {
    @include flex;
}

.btn {
    @extend .btn-base;
    @include flex($gap: 1rem, $justify: center);
    @include font-sizing($font-normal, $text-white, 600);
    background-color: $color-primary;
    border: 0;
    outline: 0;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    animation: all 0.3s;

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-light {
    @extend .btn-base;
    @include flex($gap: 1rem, $justify: center);
    @include font-sizing($font-normal, $text-white);
    background-color: $color-primary;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    animation: all 0.3s;

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-outline {
    @extend .btn-base;
    @include flex($gap: 1rem, $justify: center);
    @include font-sizing($font-normal, $text-color-primary, 500);
    border: 2px solid $color-primary;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    cursor: pointer;
    animation: all 0.3s;

    &:hover {
        box-shadow: 0 0 2px $color-secondary;
    }
}

.btn-tag {
    @extend .btn-base;
    display: inline-block;
    @include font-sizing($font-small, $text-color-secondary, 500);
    background-color: $bg-color-1;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
}

.input-group {
    width: 100%;
    @include flex(0.425rem, $dir: column, $align: stretch);
    margin-bottom: 0.825rem;

    .input-label {
        display: block;
        @include font-sizing($font-normal, $text-color-secondary, 500);

        .required {
            color: $color-danger;
        }
    }

    .input-field {
        display: block;
        font-size: $font-normal;
        @include font-sizing($font-small, $text-color-secondary, 500);
        padding: 0.625rem 0.625rem;
        border: 1px solid $border-color-1;
        border-radius: 5px;

        &::placeholder {
            @include font-sizing($font-small, $text-color-placeholder);
        }

        &:hover {
            border: 1px solid $color-primary;
        }

        &:focus {
            outline: 1px solid $color-primary;
        }
    }

    .dropdown-field {
        @extend .input-field;
        padding: 0.74rem 0.4rem;
    }
}

// Radio button design 
.radio {
    @include flex($gap: 1rem, $justify: stretch);
    background-color: $bg-color-1;
    padding: 0.8rem 4rem;
    border-radius: 3rem;
    @include border($bg-color-1, 2px);
    transition: border 0.3s;

    &:hover {
        @include border($color-secondary, 2px);
    }

    label {
        @include font-sizing($font-medium, $color-secondary, 700);
    }
}