@import "variables";
@import "colors";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: {
        family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        size: 1rem;
    }
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: $placeholder-color;
}

button {
    cursor: pointer;
}

button,
select {
    outline: 0;
    border: 0;
    background-color: transparent;
}

.text-xl {
    font-size: $font-xlarge;
}

.text-lg {
    font-size: $font-large;
}

.text-normal {
    font-size: $font-normal;
}

.text-sm {
    font-size: $font-small;
}

.text-xs {
    font-size: $font-xsmall;
}

.none {
    display: none;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.text-primary {
    color: $color-primary;
}

.icon {
    @include font-sizing($font-medium, $color-secondary);
    padding-right: 0.5rem;
}

.btn {
    display: block;
    font-size: $font-normal;
    font-weight: 600;
    color: $text-white;
    background-color: $color-primary;
    border: 0;
    outline: 0;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    animation: all 0.3s;

    &:hover {
        background-color: $color-secondary;
    }
}

.btn-outline {
    display: block;
    font-size: $font-normal;
    font-weight: 500;
    color: $text-color-primary;
    outline: 0;
    border: 2px solid $color-primary;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    cursor: pointer;
    animation: all 0.3s;

    &:hover {
        box-shadow: 0 0 2px $color-secondary;
    }
}

.btn-tag {
    display: inline-block;
    @include font-sizing($font-small, $text-color-secondary, 500);
    background-color: $bg-color-1;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
}