@import "colors";
@import "variables";
@import "mixins";


@media screen and (max-width: 767px) {

    // Navbar 
    .navbar {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 0.625rem;

        .open-menu {
            display: block;
        }

        .navbar-navs-parent {
            display: none;
        }
    }

    .navbar-navs-parent-mobile {
        &.block {
            display: block;
        }

        width: 100%;
        height: 100%;
        background-color: rgb(231, 231, 231);
        padding: 2rem 1rem;
        position: fixed;
        top: 0;
        z-index: 20;

        .close-menu {
            position: absolute;
            right: 1rem;
        }

        .navbar-navs {
            margin: 2rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            hr {
                width: 70%;
                background-color: $bg-color-light;
            }
        }

    }


    // Main content area 
    main {
        width: 100%;
        padding: 0 0.625rem;
    }

    #home {

        // Search job 
        .search-jobs-wrap {
            padding: 0;

            .search-jobs {
                flex-direction: column;
                gap: 3rem;
                border: 0;
                padding: 1rem 0;

                .search-wrap {
                    position: relative;
                    border-right: 0;
                    border: 2px solid $color-primary;
                    border-radius: 4px;

                    label {
                        position: absolute;
                        top: -2.3rem;
                        font-size: 1.2rem;
                    }
                }

                .faLocationCrosshairs {
                    position: absolute;
                    right: 0.5rem;
                    top: 5.5rem;
                }

                .search-btn {
                    width: 100%;
                }
            }
        }

        // Cards section 
        .cards-wrap {
            @include flex(2rem, column);

            .card {
                width: 100%;
            }
        }
    }


    // Footer 
    footer {
        padding: 1rem 0.625rem;

        .footer-navs-wrap {
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;

            .footer-navs {
                flex-wrap: wrap;
                row-gap: 0.5rem;
            }
        }
    }


    // Jobs list 
    .jobs-container {
        @include flex(1rem, column);

        .jobs-filter {
            width: 100%;
            height: 100%;
            background-color: $bg-color-light;
            padding: 1rem 0.5rem;
            display: none;
            overflow-y: auto;

            &.show {
                display: flex;
                gap: 0.5rem;
                position: fixed;
                top: 0;
                z-index: 10;
            }

            .close-div {
                width: 100%;
                position: relative;
                display: block;

                .close-btn {
                    position: absolute;
                    top: 0;
                    right: 0.5rem;
                }
            }

        }

        .jobs-found-container {
            width: 100%;

            .header-title {
                .available-jobs {
                    display: none;
                }

                .filter-search {
                    display: block;
                }
            }
        }
    }

    // job details 
    .job-details-container {

        .details-header {
            h1 {
                font-size: $font-large;
            }
        }

        .details-body {
            h2 {
                font-size: $font-small;
            }

            p {
                font-size: $font-small;
            }
        }

        .job-action {
            width: 100%;
        }
    }

    // Recruiter page
    .recruiter-container {
        .recruiter-cards {
            .img {
                display: none;
            }
        }

        .recruiter-cards2 {
            flex-direction: column;
            padding: 2rem 0;

            &.row-reverse {
                flex-direction: column;
            }

            .left-content {
                width: 100%;
            }
        }

        .choose-section {
            .content {
                @include grid(1);
            }
        }
    }

    // Packages page 
    .posting-packages {
        .packages {
            width: 100%;
        }
    }


    // Post CV page 
    .postcv-container {
        .cards {
            width: 100%;

            .card {
                @include flex(0.625rem, column);

                .content {
                    width: 80%;
                    text-align: center;
                }

                .btn-div {
                    width: 70%;
                    margin: 0;
                }
            }
        }
    }


    // Dashboard sidebar 
    .dasboard-container {
        @include flex(1rem, row, flex-start, flex-start);

        .dashboard-sidebar {
            .navbar-navs {
                .nav-label {
                    display: none;
                }
            }
        }

        .outlet-content {
            padding: 0 0 0 0.625rem;
        }
    }


    // Change Password
    .change-password-form {
        width: 100%;
    }

    // Edit Profile 
    .edit-profile {
        .edit-form {
            width: 100%;

            .full-name {
                @include flex(0, column, stretch, stretch);
            }
        }
    }


    // Post Job page 
    .postjob-container {
        width: 100%;

        .job-details {
            .row {
                @include grid(1, 1rem);
            }
        }
    }


    // Job Preview Details 
    .preview-details {
        .content {
            .header {
                .row {
                    flex-wrap: wrap;
                    column-gap: 1rem;
                    row-gap: 0.5rem;
                }
            }
        }
    }


    // Post Job page 
    .postjob-container {

        // Stepper 
        .stepper {
            .step-item {
                p {
                    font-size: $font-xsmall;
                }

                &.active {
                    p {
                        font-size: $font-xsmall;
                    }
                }

                &.completed {
                    p {
                        font-size: $font-xsmall;
                    }
                }
            }
        }
    }

}