@import "colors";


@media screen and (max-width: 767px) {

    // Navbar 
    .navbar {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 0.625rem;
        position: relative;

        .open-menu {
            display: block;
        }

        .navbar-navs-parent {
            display: none;
        }
    }

    .navbar-navs-parent-mobile {
        &.block {
            display: block;
        }

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(231, 231, 231);
        top: 0;
        padding: 2rem 1rem;

        .close-menu {
            position: absolute;
            right: 1rem;
        }

        .navbar-navs {
            margin: 2rem auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }

    }


    // Main content area 
    main {
        width: 100%;
        padding: 0 0.625rem;
    }

    #home {

        // Search job 
        .search-jobs-wrap {
            padding: 0;

            .search-jobs {
                flex-direction: column;
                gap: 3rem;
                border: 0;
                padding: 1rem 0;

                .search-wrap {
                    position: relative;
                    border-right: 0;
                    border: 2px solid $color-primary;
                    border-radius: 4px;

                    label {
                        position: absolute;
                        top: -2.3rem;
                        font-size: 1.2rem;
                    }
                }

                .faLocationCrosshairs {
                    position: absolute;
                    right: 0.5rem;
                    top: 5.5rem;
                }

                .search-btn {
                    width: 100%;
                }
            }
        }

        // Cards section 
        .cards-wrap {
            @include flex(2rem, column);

            .card {
                width: 100%;
            }
        }
    }


    // Footer 
    footer {
        padding: 1rem 0.625rem;

        .footer-navs-wrap {
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;

            .footer-navs {
                flex-wrap: wrap;
                row-gap: 0.5rem;
            }
        }
    }
}